<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en">
<![endif]-->
<!--[if (gte IE 9)|!(IE)]>
<html lang="en" class="no-js">
<![endif]-->
<html lang="en">
<head>
    <title>Intimate - Home</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Page Description and Author -->
    <meta content="Intimate - Bootstrap HTML5 Blog Template" name=
    "description">
    <meta content="GrayGrids" name="author"><!-- Bootstrap Css -->
    <link href="/frontend/intimate/assets/css/bootstrap.min.css" madia="screen" rel="stylesheet" type=
    "text/css"><!-- Font Icon Css -->
    <link href="/frontend/intimate/assets/fonts/font-awesome.min.css" madia="screen" rel="stylesheet"
    type="text/css">
    <link href="/frontend/intimate/assets/fonts/intimate-fonts.css" madia="screen" rel="stylesheet" type=
    "text/css"><!-- Main Css Styles -->
    <link href="/frontend/intimate/assets/css/main.css" madia="screen" rel="stylesheet" type="text/css">
    <!-- Owl Carousel -->
    <link href="/frontend/intimate/assets/extras/owl/owl.carousel.css" media="screen" rel="stylesheet"
    type="text/css">
    <link href="/frontend/intimate/assets/extras/owl/owl.theme.css" media="screen" rel="stylesheet" type=
    "text/css">
    <link href="/frontend/intimate/assets/extras/animate.css" media="screen" rel="stylesheet" type=
    "text/css">
    <link href="/frontend/intimate/assets/extras/lightbox.css" media="screen" rel="stylesheet" type=
    "text/css">
    <link href="/frontend/intimate/assets/extras/slicknav.css" media="screen" rel="stylesheet" type=
    "text/css"><!-- Responsive Css Styles -->
    <link href="/frontend/intimate/assets/css/responsive.css" madia="screen" rel="stylesheet" type=
    "text/css">
</head>
<body>
    <!-- Header Section Start -->
    {% include "_header.twig" %}
    <!-- Content Start -->
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <!-- Blog Article Start-->
                    {% block content %}

                    {% endblock %}
                    <!-- Blog Article End-->
                </div>
                <div class="col-md-4">
                    {% include "_right_sidebar.twig" %}
                </div>
            </div>
        </div>
    </div><!-- Content End -->
    <!-- Footer Start -->
    {% include "_footer.twig" %}
    <!-- Footer End -->

    <!-- js  -->
    <script src="/frontend/intimate/assets/js/jquery-min.js" type="text/javascript">
    </script>
    <script src="/frontend/intimate/assets/js/bootstrap.min.js" type="text/javascript">
    </script>
    <script src="/frontend/intimate/assets/js/owl.carousel.js" type="text/javascript">
    </script>
    <script src="/frontend/intimate/assets/js/jquery.mixitup.min.js" type="text/javascript">
    </script>
    <script src="/frontend/intimate/assets/js/lightbox.js" type="text/javascript">
    </script>
    <script src="/frontend/intimate/assets/js/plugin.js" type="text/javascript">
    </script>
    <script src="/frontend/intimate/assets/js/jquery.slicknav.js" type="text/javascript">
    </script>
    <script src="/frontend/intimate/assets/js/count-to.js" type="text/javascript">
    </script>
    <script src="/frontend/intimate/assets/js/jquery.appear.js" type="text/javascript">
    </script>
    <script src="/frontend/intimate/assets/js//main.js" type="text/javascript">
    </script>
</body>
</html>